{% extends 'core/base.html' %}
{%load static tags i18n %}


{% block page_title %}
  <title>Home | Pavshop</title>
{% endblock page_title %}


{% block alert %}
  {% include "core/includes/alert-close-message.html" %}
{% endblock alert %}


{% block main %}
  <!--======= HOME MAIN SLIDER =========-->
  {% include "core/includes/home-main-slider.html" %}
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- New Arrival -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>new arrival</h4>
          <span>{% trans "Discover Our Latest Products" %}</span> </div>
      </div>
      
      <!-- New Arrival -->
      <div class="arrival-block single-img-demos"> 
        
        {% for product_version in product_versions %}
          <!-- Item -->
          <div class="item"> 
            <!-- Images --> 
            <img class="img-1" src="{{ product_version.cover_image.url }}" alt="" style="max-height: 400px; background-size: cover; background-position: center;"> 
            <!-- Overlay  -->
            <div class="overlay"> 
              <!-- Price --> 
              <span class="price"><small>$</small>{{ product_version.price }}</span>
              <div class="position-center-center"> <a href="{{ product_version.cover_image.url }}" data-lighter><i class="icon-magnifier"></i></a> </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> 
              <a href="{% url "product:product_detail_view" product_version.slug %}" style="font-size: 16px">{{ product_version.title }}</a>
            </div>
          </div>
        {% endfor %}
        
      </div>
    </section>
    
    <!-- Popular Products -->
    <section class="padding-top-50 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>popular products</h4>
          <span>
            {% trans "Explore our most sought-after products carefully curated to meet your needs. Find the perfect items that match your style and preferences." %}
          </span> 
        </div>
        
        <!-- Popular Item Slide -->
        <div class="papular-block block-slide single-img-demos"> 
          
          {% get_most_reviewed_products 8 as most_reviewed_products %}
          {% for product_version in most_reviewed_products %}
            <!-- Item -->
            <div class="item"> 
              <!-- Item img -->
              <div class="item-img"> <img class="img-1" src="{{ product_version.cover_image.url }}" alt="" > 
                <!-- Overlay -->
                <div class="overlay">
                  <div class="position-center-center">
                    <div class="inn">
                      <a href="{{ product_version.cover_image.url }}" data-lighter>
                        <i class="icon-magnifier"></i>
                      </a>

                        {% if request.user.is_authenticated %}
                          <a data-product-version-id="{{ product_version.id }}" onclick="addToCart(this)" style="cursor: pointer;">
                            <i class="icon-basket"></i>
                          </a>
                          <a data-product-version-id="{{ product_version.id }}" onclick="toggleWishlist(this)" style="cursor: pointer;">
                            {% if product_version in request.user.wishlist.product_versions.all %}
                              <i class="fa fa-heart text-danger"></i>
                            {% else %}
                              <i class="fa fa-heart-o"></i>
                            {% endif %}
                          </a>
                        {% else %}
                          <a href="{% url "login_view" %}">
                            <i class="icon-basket"></i>
                          </a>
                          <a href="{% url "login_view" %}">
                            <i class="fa fa-heart-o"></i>
                          </a>
                        {% endif %}
                        
                    </div>
                  </div>
                </div>
              </div>
              <!-- Item Name -->
              <div class="item-name text-nowrap"> <a href="{% url "product:product_detail_view" product_version.slug %}">{{ product_version.title }}</a>
              </div>
              <!-- Price --> 
              <span class="price"><small>$</small>{{ product_version.price }}</span> 
            </div>
          {% endfor %}

        </div>
      </div>
    </section>
    
    <!-- Knowledge Share -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>knowledge share</h4>
          <span>
            {% trans "We share forward-looking knowledge and experiences with you. We are constantly learning to provide you with better service." %}
          </span> 
        </div>
        <div class="knowledge-share">
          <ul class="row">
            
            {% for blog in blogs %}
              <!-- Post -->
              <li class="col-md-6">
                <div class="date"> <span>{{ blog.publish_date|date:"F" }}</span> <span class="huge">{{ blog.publish_date|date:"d" }}</span> </div>
                <a href="{% url "blog:blog_detail_view" blog.slug %}">{{ blog.title }}</a>
                <p>{{ blog.content|striptags|truncatechars:200|safe }}</p>
                <span>By <strong>{{ blog.author.get_username }}</strong></span> 
              </li>
            {% endfor %}
            
          </ul>
        </div>
      </div>
    </section>
    
    <!-- Testimonial -->
    <section class="testimonial padding-top-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            
            <!-- SLide -->
            <div class="single-slide"> 
              
              <!-- Slide -->
              <div class="testi-in"> <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nihil accusamus quo delectus repellat omnis, tenetur maxime in voluptate vero tempore quisquam, labore reprehenderit! Obcaecati, earum dolorum. Quibusdam, molestias? Optio.</p>
                <h5>john smith</h5>
              </div>
              
              <!-- Slide -->
              <div class="testi-in"> <i class="fa fa-quote-left"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis neque ex veniam quis cumque! Quas ut, nesciunt sapiente quis maiores et, aut quam error expedita sunt illo, fugiat animi tenetur!</p>
                <h5>Harper Taylor</h5>
              </div>
              
              <!-- Slide -->
              <div class="testi-in"> <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ullam expedita velit laudantium quae facilis cum nemo dolorum nostrum vero architecto vitae voluptas a quaerat voluptates fugiat obcaecati, beatae repudiandae?</p>
                <h5>john doe</h5>
              </div>
            </div>
          </div>
          
          <!-- Img -->
          <div class="col-sm-6"> <img class="img-responsive" src="{% static 'imgs/testi-avatar.jpg' %}" alt=""> </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    {% include "core/includes/about.html" %}

    <!-- News Letter -->
    {% include "core/includes/news-letter.html" %}
  </div>
{% endblock main %}


{% block js %}
  <script src="{% static "js/wishlist.js" %}"></script>
{% endblock js %}