{% load tags i18n %}

<h5 class="shop-tittle margin-bottom-30">{% trans "category" %}</h5>
<ul class="shop shop-cate">
    {% get_blog_categories as blog_categories %}
    {% for category in blog_categories %}
        <li class="{% if selected_category.slug == category.slug %}active{% endif %}">
            <a href="{% url 'blog:blog_list_view' %}?category={{ category.slug }}">
                {{ category.name }}
                <span>{{ category.blogs.count }}</span>
            </a>
        </li>
    {% endfor %}
</ul>