.phone-number {
  display: flex !important;
  align-items: center !important;
  gap: 3px;
}

.phone-number select {
  margin-top: 15px !important;
  width: 60% !important;
}

.phone-number input {
  margin-top: 15px !important;
  width: 40% !important;
}

.errorlist {
  margin-top: 5px !important;
  color: red !important;
}

.flex-container {
  display: flex;
  align-items: center;
}

.old-price {
  text-decoration: line-through;
  color: grey !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.image-container {
  max-height: 300px !important;
  background-size: cover !important;
  background-position: center !important;
}

.height-400 {
  height: 400px !important;
}

.text-nowrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.reply-button:hover {
  cursor: pointer;
}

.comment-section {
  padding-right: 100px;
  max-height: 1500px;
  overflow-y: auto;
}

.edit-delete-buttons {
  display: inline-flex;
}

.edit-butons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.edit-submit-button {
  background-color: #345bdb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-submit-button:hover {
  background-color: #2a48a0;
}

.edit-cancel-button {
  background-color: #808080;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-cancel-button:hover {
  background-color: #555;
}

.newsletter-text-success {
  text-align: center !important;
  color: green !important;
}

.avatar-rew {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.avatar-rew img {
  max-width: 100%;
  height: auto;
}

a {
  user-select: none !important;
}

#cart-item-count {
  font-size: 10px !important;
  background-color: gray !important;
  color: #fff !important;
}

header .is-sticky .sticky .user-basket .dropdown-menu {
  max-height: 550px;
  padding-right: 40px;
  overflow-y: auto;
}

#subtotal {
  font-size: 18px;
  font-weight: bold;
}

.a-active {
  font-weight: bold;
  color: #ffe115 !important;
}