{% extends 'core/base.html' %}
{% load static tags %}
  

{% block page_title %}
  <title>Product | Detail</title>
{% endblock page_title %}


{% block alert %}
  {% include "core/includes/alert-close-message.html" %}
{% endblock alert %}


{% block main %}
  <!--======= SUB BANNER =========-->
  {% include "core/includes/sub-banner.html" %}
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Popular Products -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- SHOP DETAIL -->
        <div class="shop-detail">
          <div class="row"> 
            
            <!-- Popular Images Slider -->
            <div class="col-md-7"> 
              
              <!-- Images Slider -->
              <div class="images-slider">
                <ul class="slides">
                  {% if product_version.images.all %}
                    {% for image in product_version.images.all %}
                      {% if image.is_active %}
                        <li data-thumb="{{ image.image.url }}"> <img class="img-responsive" src="{{ image.image.url }}"  alt=""> </li>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <li data-thumb="{{ product_version.cover_image.url }}"> <img class="img-responsive" src="{{ product_version.cover_image.url }}"  alt=""> </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            
            <!-- COntent -->
            <div class="col-md-5">
              <h4>{{ product_version.title }}</h4>
              <div class="prices">
                {% if product_version.total_discount  %}
                  <span class="price"><small>$</small>{{ product_version.discounted_price }}</span>
                  <span class="price old-price"><small>$</small>{{ product_version.price }}</span>
                {% else %}
                  <span class="price"><small>$</small>{{ product_version.price }}</span>
                {% endif %}
              </div>
              
              <!-- Sale Tags -->
              {% if product_version.total_discount  %}
                <div class="on-sale"> {{ product_version.total_discount }}% <span>OFF</span> </div>
              {% endif %}
              <ul class="item-owner">
                {% if product_version.designer.is_active %}
                  <li>Designer :<span> {{ product_version.designer.name }}</span></li>
                {% endif %}
                {% if product_version.product.brand.is_active %}
                  <li>Brand:<span> {{ product_version.product.brand.name }}</span></li>
                {% endif %}
              </ul>
              
              <!-- Item Detail -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam laoreet tortor ac maximus alique met, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam</p>
              
              <!-- Short By -->
              <div class="some-info">
                <ul class="row margin-top-30">
                  <li class="col-xs-4">
                    <div class="quinty"> 
                      <!-- QTY -->
                      <select class="selectpicker">
                        {% for i in product_version.quantity|get_range|slice:":10" %}
                          <option>{{ i|add:1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </li>
                  
                  <!-- COLORS -->
                  <li class="col-xs-8">
                    <ul class="colors-shop">
                      <li><span class="margin-right-20">Colors</span></li>
                      {% for color in product_version.colors.all %}
                        {% if color.is_active %}
                          <li><a href="#." style="background:{{ color.hex_code }};"></a></li>
                        {% endif %}
                      {% endfor %}

                    </ul>
                  </li>
                  
                  <!-- ADD TO CART -->
                  <li class="col-xs-6"> <a href="#." class="btn">ADD TO CART</a> </li>
                  
                  <!-- LIKE -->
                  <li class="col-xs-6 li-heart" wishlist-id="{{ request.user.wishlist.id }}" product-id="{{ product_version.id }}">
                    <a href="#." class="like-button">
                      {% if product_version in request.user.wishlist.product_versions.all %}
                        <i class="fa fa-2x fa-heart text-danger"></i>
                      {% else %}
                        <i class="fa fa-2x fa-heart-o"></i>
                      {% endif %}
                    </a>
                  </li>

                </ul>
                
                <!-- INFOMATION -->
                <div class="inner-info">
                  
                  <!-- Social Icons -->
                  <ul class="social_icons">
                    <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                    <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                    <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= PRODUCT DESCRIPTION =========-->
        <div class="item-decribe"> 
          <!-- Nav tabs -->
          <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
            <li role="presentation" class="active"><a href="#descr" role="tab" data-toggle="tab">DESCRIPTION</a></li>
            <li role="presentation"><a href="#review" role="tab" data-toggle="tab">REVIEW ({{ comments.count }})</a></li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content animate fadeInUp" data-wow-delay="0.4s"> 
            <!-- DESCRIPTION -->
            <div role="tabpanel" class="tab-pane fade in active" id="descr">
              <p>{{ product_version.description }}</p>
            </div>
            
            <!-- REVIEW -->
            <div role="tabpanel" class="tab-pane fade" id="review">
              <h6>{{ comments.count }} REVIEWS FOR SHIP YOUR IDEA</h6>
              <div class="comment-section">
                {% for comment in comments %}
                <!-- REVIEW PEOPLE -->
                <div class="media">
                  <div class="media-left"> 
                    <!--  Image -->
                    {% if comment.user %}
                      <div class="avatar-rew"> <img src="{{ comment.user.profile_image.url }}" alt=""> </div>
                    {% else %}
                      <div class="avatar-rew"> <img src="{% static "imgs/default_profile.jpg" %}" alt=""> </div>
                    {% endif %}
                  </div>
                  <!--  Details -->
                  <div class="media-body">
                    <p class="font-playfair">{{ comment.comment }}</p>
                    <h6>
                      {% if comment.user %}
                        {% if comment.user.get_full_name %}
                          {{ comment.user.get_full_name }}
                        {% else %}
                          {{ comment.user.get_username }}
                        {% endif %}
                      {% else %}
                        {{ comment.full_name }}
                      {% endif %}
                      <span class="pull-right">{{ comment.updated_at|date:"d/m/Y H:i" }}</span> </h6>
                  </div>
                </div>
                {% endfor %}
              </div>
              
              <!-- ADD REVIEW -->
              <h6 class="margin-t-40">ADD REVIEW</h6>
              <form method="post">
                {% csrf_token %}
                
                {% if request.user.is_authenticated %}
                <small class="font-16px text-info font-bold">* Active user information selected!</small>
                {% endif %}
                <ul class="row">

                  {% if not request.user.is_authenticated %}
                  <li class="col-sm-6">
                    <label> *FULL NAME
                        {{ form.full_name }}
                        {{ form.full_name.errors }}
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label> *EMAIL
                        {{ form.email }}
                        {{ form.email.errors }}
                    </label>
                  </li>
                  {% endif %}

                  <li class="col-sm-12">
                    <label> *YOUR REVIEW
                      {{ form.comment }}
                      {{ form.comment.errors }}
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <button type="submit" class="btn btn-dark btn-small pull-right no-margin">POST REVIEW</button>
                  </li>

                </ul>
                
              </form>
            </div>
            
            <!-- TAGS -->
            <div role="tabpanel" class="tab-pane fade" id="tags"> </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Popular Products -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>YOU MAY LIKE IT</h4>
          <span>
            You might also be interested in these! Take a look at related products and find the perfect item you're searching for.
          </span> 
        </div>
        
        <!-- Popular Item Slide -->
        <div class="papular-block block-slide single-img-demos"> 
          
          {% for related_product_version in related_product_versions %}
            <!-- Item -->
            <div class="item"> 
              <!-- Item img -->
              <div class="item-img"> <img class="img-1" src="{{ related_product_version.cover_image.url }}" alt="" > 
                <!-- Overlay -->
                <div class="overlay">
                  <div class="position-center-center">
                    <div class="inn"><a href="{{ related_product_version.cover_image.url }}" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
                  </div>
                </div>
              </div>
              <!-- Item Name -->
              <div class="item-name text-nowrap"> <a href="{% url "product:product_detail_view" related_product_version.slug %}">{{ related_product_version.title }}</a></div>
              <!-- Price --> 
              <span class="price"><small>$</small>{{ related_product_version.discounted_price }}</span> 
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
    <!-- About -->
    {% include "core/includes/about.html" %}
    
    <!-- News Letter -->
    {% include "core/includes/news-letter.html" %}
  </div>
{% endblock main %}


{% block js %}
  <script src="{% static "js/wishlist.js" %}"></script>
{% endblock js %}