{% extends 'core/base.html' %}


{% block page_title %}
<title>Reset Password | Pavshop</title>
{% endblock page_title %}


{% block css %}
<style>
  .form-container {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .form-container h1 {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn-container {
    margin-top: 20px;
  }
  h2 {
    margin-bottom: 50px;
  }
</style>
{% endblock css %}


{% block main %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 form-container">
      <h2>Reset Password</h2>
      <p>Please enter your registered email address below. A password reset link will be sent to your email address.</p>

      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
          {{ form.email }}
          {{ form.email.errors }}
        </div>

        <div class="btn-container">
          <button type="submit" class="btn">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
