version: "3.1"

services:
  db:
    container_name: postgres-db
    image: postgres:16
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./pgdb:/var/lib/postgresql/data
    env_file: .env
    environment:
      - LC_ALL=C.UTF-8

  web:
    container_name: pavshop-web
    build: .
    restart: "always"
    ports:
      - "8000:8000"
    volumes:
      - .:/code
      - ./static/:/code/static/
      - ./media/:/code/media/
    links:
      - db
    env_file: .env
    depends_on:
      - db
      - redis

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080

  celery:
    container_name: celery
    command: celery -A config worker --beat --scheduler django --loglevel=info
    build:
      context: .
      dockerfile: celery.dockerfile
    depends_on:
      - db
      - redis
    env_file: .env

  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - 6379:6379

networks:
  default:
    external:
      name: nginx-proxy
