{%load static i18n %}
<section class="sub-bnr" data-stellar-background-ratio="0.5">
  <div class="position-center-center">
    <div class="container">
      <h4>{% trans "Contact us now" %}</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex quidem vel veritatis, voluptates perferendis incidunt ipsa qui veniam possimus dignissimos molestias itaque tempora ullam laboriosam numquam saepe reprehenderit quos!
      </p>
      <ol class="breadcrumb">
        <li><a href="#">{% trans "Home" %}</a></li>
        <li class="active">{% trans "Contact" %}</li>
      </ol>
    </div>
  </div>
</section>
