{%load static i18n %}
<section class="sub-bnr" data-stellar-background-ratio="0.5">
  <div class="position-center-center">
    <div class="container">
      <h4>{% trans "contact us now" %}</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus
        maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam
      </p>
      <ol class="breadcrumb">
        <li><a href="#">{% trans "Home" %}</a></li>
        <li class="active">{% trans "contact" %}</li>
      </ol>
    </div>
  </div>
</section>
